$font-icons-family-name: "IconsFont";
@font-face {
	font-family: "IconsFont";
	src: url('../fonts/IconsFont.eot');
	src: url('../fonts/IconsFont.eot?#iefix') format('eot'),
		url('../fonts/IconsFont.woff2') format('woff2'),
		url('../fonts/IconsFont.woff') format('woff'),
		url('../fonts/IconsFont.ttf') format('truetype'),
		url('../fonts/IconsFont.svg#IconsFont') format('svg');
}

@mixin icon-styles {
	font-family: "IconsFont";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

$icon-name-check: "\E001"; 
$icon-name-close: "\E002"; 
$icon-name-key: "\E003"; 
$icon-name-menu: "\E004"; 
$icon-name-next: "\E005"; 
$icon-name-play-v2: "\E006"; 
$icon-name-play: "\E007"; 


@function icon-char($filename) {
	$char: "";

	@if $filename == check {
		$char: "\E001";
	}
	@if $filename == close {
		$char: "\E002";
	}
	@if $filename == key {
		$char: "\E003";
	}
	@if $filename == menu {
		$char: "\E004";
	}
	@if $filename == next {
		$char: "\E005";
	}
	@if $filename == play-v2 {
		$char: "\E006";
	}
	@if $filename == play {
		$char: "\E007";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-check {
	@include icon(check);
}
.icon-close {
	@include icon(close);
}
.icon-key {
	@include icon(key);
}
.icon-menu {
	@include icon(menu);
}
.icon-next {
	@include icon(next);
}
.icon-play-v2 {
	@include icon(play-v2);
}
.icon-play {
	@include icon(play);
}
