@import 'theme/theme';
@import 'owl.carousel/dist/assets/owl.carousel.min';
.index {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #1A1A1A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &.landing {
        .landing-title {
            background: linear-gradient(180deg, #FFFFEC 0%, rgba(240, 240, 240, 0) 202.5%, rgba(240, 240, 240, 0) 202.5%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &.fs-1 {
                font-size: 2.5rem;
                @include media-breakpoint-down(md) {
                    font-size: 1.25rem!important;
                }
            }
        }
        .fs-2 {
            @include media-breakpoint-down(md) {
                font-size: .875rem!important;
            }
        }
        .fs-4 {
            @include media-breakpoint-down(md) {
                font-size: .875rem!important;
            }
        }
        .btn-block {
            top: -3.75rem;
        }
    }
    &.home {
        .fs-5 {
            @include media-breakpoint-down(md) {
                font-size: .75rem!important;
            }
        }
        .card {
            --bs-card-bg: none;
            .card-img {
                height: 13.5rem;
                object-fit: contain;
            }
        }
    }
}

.main {
    min-height: calc(80vh - 0px);
}

.hero {
    margin-top: 4.25rem;
    @include media-breakpoint-down(md) {
        margin-top: 2.938rem!important;
    }
}

.category {
    margin: 8.875rem 0 6.688rem 0;
    @include media-breakpoint-down(md) {
        margin: 4.75rem 0 5.25rem 0;
    }
}

.account {
    margin: 8.875rem 0 6.688rem 0;
    @include media-breakpoint-down(md) {
        margin: 4.75rem 0 0 0;
    }
    .attachment-file-name {
        max-width: 10.5rem;
    }
    .card {
        padding: 1.3rem 2.125rem;
    }
    .fs-5,
    .fs-6 {
        @include media-breakpoint-down(md) {
            font-size: .875rem!important;
        }
    }
    .fs-7 {
        @include media-breakpoint-down(md) {
            font-size: .875rem!important;
        }
    }
    .fs-8 {
        @include media-breakpoint-down(md) {
            font-size: .875rem!important;
        }
    }
}

.img-style {
    height: 32.875rem;
    @include media-breakpoint-down(md) {
        height: 18.75rem;
    }
}

.img-size {
    width: 12rem;
    height: 15.625rem;
    @include media-breakpoint-down(md) {
        width: 6.25rem;
        height: 8.125rem;
    }
}

.text-copyright {
    color: $gray-154;
    font-size: .813rem;
    @include media-breakpoint-down(md) {
        font-size: .625rem;
    }
}

.confirmation-title {
    font-size: 1.25rem;
    @include media-breakpoint-down(md) {
        font-size: .875rem;
    }
}

.play-btn {
    width: 3rem;
    height: 3rem;
    background-color: $gray-70;
    border: 2px solid $yellow-236;
    .icon-style {
        font-size: .875rem;
    }
}

.list-items {
    .list-item {
        font-size: .938rem;
        @include media-breakpoint-down(md) {
            font-size: .75rem;
        }
    }
}

.card {
    padding: .94rem 1.625rem;
    border-radius: .375rem;
}

.video {
    @include media-breakpoint-down(sm) {
        .owl-stage {
            left: -40px;
        }
    }
}

.video-title-block {
    position: absolute;
    bottom: 4rem;
    right: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1C1C1C 100%);
    padding: 2rem 1.5rem;
}

.thank-you {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #060606;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        .main-bg {
            position: relative;
            &::before {
                width: 100%;
                height: 100%;
                content: "";
                display: block;
                position: absolute;
                top: 0;
                background-image: url("../img/thank-you-bg.png");
                background-position: top center;
                background-repeat: no-repeat;
                z-index: -1;
                background-size: contain;
                @include media-breakpoint-up(sm) {
                    background-image: url("../img/thank-you-bg-desktop.png");
                    background-size: cover;
                }
            }
        }
        .check-circle {
            width: 7.938rem;
            height: 7.938rem;
            background-color: $yellow-236;
            .icon-style {
                font-size: 3.125rem;
                @include media-breakpoint-down(md) {
                    font-size: 2.25rem;
                }
            }
            @include media-breakpoint-down(md) {
                width: 5rem;
                height: 5rem;
            }
        }
    }
    .text-block {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: 41px;
        padding: 3.625rem 5rem 1.5rem 5rem;
        @include media-breakpoint-down(md) {
            background: transparent;
            padding: 0;
        }
    }
    .pt-6 {
        padding-top: 8rem!important;
    }
}

.footer {
    background: $black-7;
    padding: 2.5rem 0 1.5rem 0;
    @include media-breakpoint-down(md) {
        padding: 1.5rem 0 .625rem 0;
    }
    .list-inline {
        .list-inline-item {
            .btn-link {
                font-size: 1.125rem;
                --bs-link-color: #{$gray-11};
                --bs-link-hover-color: #{$yellow-236};
                @include media-breakpoint-down(md) {
                    font-size: .813rem;
                }
            }
        }
    }
}
